<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="iSCOP"  version = "2.0.0" versionCode = "2" >


        <name>iSCOP</name>
        <description>Interactive Scholars Online Portal</description>
        <author>Team FIREWALL</author>
		<gap:platforms>
                <gap:platform name="ios" />
                <gap:platform name="android" />
                <gap:platform name="webos" />
                <gap:platform name="symbian.wrt" />
                <gap:platform name="blackberry" project="widgets"/>
        </gap:platforms>

        <icon src="img/icon.png" gap:role="default" />
        <preference name="phonegap-version" value="3.1.0" />
        
        <access origin="*" subdomains="true" />
        <access uri="*" subdomains="true" />
                 <access uri="*" subdomains="true" />
        <feature name="http://api.phonegap.com/1.0/network"/>
        <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
        </feature>
        
        
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="true" />
        <preference name="target-device" value="universal" />

</widget